$tomato: #fc4e59;
$mediumvioletred: #e01467;
$crimson: #e21515;
$orangered: #ec3800;
$orangered_light: #f95b00;
$darkorange: #f56e00;
$goldenrod: #ffb736;
$khaki: #fced58;
$olivedrab: #7cb51e;
$turquoise: #38e3cf;
$darkcyan: #179c93;
$royalblue: #1c80cc;
$royalblue_dark: #2264ff;
$blue: #0514ed;
$blueviolet: #8a2aff;
$darkviolet: #5800d2;

$black: #29323f;
$gray: #636972;
$white: #F9F9FA;

//Fuente
$ssp: 'Source Sans Pro', sans-serif;

//Maps
$colors: (
    tomato: #fc4e59,
    mediumvioletred: #e01467,
    crimson: #e21515,
    orangered: #ec3800,
    orangered_light: #f95b00,
    darkorange: #f56e00,
    goldenrod: #ffb736,
    khaki: #fced58,
    olivedrab: #7cb51e,
    turquoise: #38e3cf,
    darkcyan: #179c93,
    royalblue: #1c80cc,
    royalblue_dark: #2264ff,
    blue: #0514ed,
    blueviolet: #8a2aff,
    darkviolet: #5800d2,
);