@import "_variable";
@import "_core";
@import "_functions";

// .flex-container{
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
// }
.widget{
    width: 23.75em;
    height: 26.85em;
    margin: 8em auto;
    background-color: $black;
    color: $white;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
    &__header{
        padding: 1em 0;
    }
    &__botonera{
        width: 100%;
        height: 2em;
        padding-right: 1em;
        padding-left: 1em;
        color: $gray;
        font-size: 1.3em;
        display: flex;
        align-items: center;
        &--rigth{
            justify-content: flex-end;
        }
        &--between{
            justify-content: space-between;
        }
        &--left{
            justify-content: flex-start;
        }
    }
    &__btncolor,
    &__btnclose,
    &__btnfeatures,
    &__btnback{
        cursor: pointer;
        &--desactivate{
            display: none;
        }
    }
    &__btncolor{
        font-size: 0.4em;
        color: $tomato;
    }
    // &__btnclose{

    // }
    &__btnfeatures{
        color: rgba($white,0.8);
        font-size: 0.7em;
    }
    &__btnback{
        font-size: 1.3em;
    }
    // &__content-title{

    // }
    &__title{
        color: rgba($white, 0.7);
        font-weight: normal;
        text-align: center;
        //background-color: blue;
        margin-top: 0px;
        &--calendar{
            color: rgba($tomato, 0.7);
            text-transform: uppercase;
        }
    }
    &__change-color{
        height: 280px;
        margin-top: 1.5em;
        display: flex;
        justify-content: center;
        &--active{
            display: none;
        }
    }
    &__choose-color{
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__color{
        width: 3em;
        height: 3em;
        border-radius: 50%;
        margin: 0.5em 0.5em;
        border: solid 3px transparent;
        cursor: pointer;
        @at-root{
            @each $name, $color in $colors{
                #{&}-#{$name}{
                    background-color: $color;
                    transition: 0.3s ease all;
                    &:hover{
                        border-color: $white;
                        background-color: $color;
                    }
                }
            }
        }
    }
    &__page-calendar,
    &__page-color,
    &__page-weather{
        text-align: center;
        margin: 0 auto;
    }
    &__content-month{
        color: rgba($white, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -0.5em;
        span{
            margin: 0em 0.8em;
            font-size: 1.2em;
            cursor: pointer;
        }
    }
    &__calendar{
        width: 70%;
        height: 280px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    &__daysnames,
    &__week{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        color: rgba($white, 0.8);

    }
    &__daysnames{
        font-size: 1.2em;
    }
    &__week{
        flex-wrap: wrap;
        flex: none;
    }
    &__dayname,
    &__day{
        width: equalSpaces(7);
        height: auto;
        padding: 0.5em;
    }
    &__day{
        color: rgba($white, 0.7);
        margin-top: 0.1em;
        text-align: center;
        cursor: pointer;
    }
    &__select-date{
        color: rgba($white, 0.9);
        font-weight: 600;
    }
    &__circle-date{
        background-color: $tomato;
        border-radius: 50%;
        padding: 0.2em 0.4em;
        margin-left: 0.3em;
        color: $black;
    }
    &__temperature{
        font-size: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.3em;
    }
    &__icon-temperature{
        font-size: 1.2em;
        color: rgba($white, 0.8);
    }
    &__text-temperature{
        margin-left: .1em;
        font-weight: 300;
        position: relative;
        &::after{
            content: "\00b0";
            position: absolute;
            font-size: 0.8em;
            margin-top: 0.1em;
        }
    }
    &__more{
        width: 93%;
        background-color: $white;
        height: 14em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.6em;
        border-top-left-radius: 0.2em;
        border-top-right-radius: 0.2em;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 90%;
            left: 1em;
            height: 0.7em;
            margin-top: -0.7em;
            background-color: rgba($white, 0.2);
            border-top-left-radius: 0.2em;
            border-top-right-radius: 0.2em;
        }
    }
    &__features{
        color: rgba($black,0.8);
        text-transform: capitalize;
        font-weight: 400;
        font-size: 1.6em;
        padding-top: 0.7em;
    }
    &__additional{
        display: flex;
        justify-content: space-around;
    }
    &__location,
    &__humidity{
        display: flex;
        flex-direction: column;
        color: rgba($black, 0.9);

    }
    &__feature-description{
        padding: 0.5em;
        & > i {
            padding: 0.5em;
            color: rgba($tomato, 0.9);
        }
    }
}














.today{
    border: solid 2px rgba($tomato,0.7);
    background-color: $tomato;
    color: $black;
    border-radius: 50%;
}
.activeColor{
    border-color: $white;
}
.desactive{
    display: none;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn .2s ease-in 1 forwards;
}

.is-paused {
  animation-play-state: paused;
}
